#main-add-product{
    color: #58544c;
    padding: 30px;
}
#form-addProduct{
    background-color: #FDF3DF;
    max-width: 700px;
    padding: 20px 40px;
    margin: 100px auto;
    border-radius: 30px;
}
.container-input{
    margin: 20px 0;
    display: inline-block;
}
.name-price{
    padding: 3px 3px 3px 10px;
    height: 40px;
    background-color: #DFB567;
    border-radius: 10px;
    color: #9e8047;
}
.name-price input{
    height: 33px;
    border-radius: 10px;
    border: none;
    margin-left: 10px;
    padding: 0 10px;
    outline: none;
}
.name-price input::-webkit-inner-spin-button{
    appearance: none;
}
#select-button{
    background-color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.041);
    font-size: .9em;
    margin-top: 15px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}
#icons [class="bi bi-caret-up-fill"]{
    display: none;
}
#options-view-button:focus + #select-button, #options-view-button:checked + #select-button{
    border-color: #DFB567;
}
#options-view-button:checked + #select-button #icons, #options-view-button:focus + #select-button #icons{
    color: #DFB567;
}
#options-view-button:checked + #select-button #select-value, #options-view-button:focus + #select-button #select-value{
    color: #DFB567;
}
#options-view-button:checked + #select-button, #options-view-button:focus + #select-button{
    border: 2px solid #DFB567;
}
#options-view-button:checked + #select-button #icons .bi-caret-down-fill{
    display: none;
}
#options-view-button:checked + #select-button #icons .bi-caret-up-fill{
    display: block;
}
.select{
    width: 243.63px;
}
#category-select{
    position: relative;
}
#options-view-button{
    all: unset;
    position: absolute;
    inset: 0;
}
#options{
    background-color: white;
    margin-top: 3px;
    border: 1px solid #DFB567;
    background-origin: border-box;
    border-bottom: none;
    border-radius: 10px;
    display: none;
}
.option{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #DFB567;
}
.bi-check{
    display: none;
}
.option:first-child{
    border-radius: 7px 7px 0 0;
}
.option:last-child{
    border-radius: 0 0 7px 7px;
}
.option:has(input:checked){
    color: #DFB567;
}
.option:has(input:hover){
    background-color: #DFB567;
    color: white;
}
.option:has(input:checked) .bi-check{
    display: block;
}
.option input[type = 'radio']{
    all: unset;
    position: absolute;
    inset: 0;
}
#category-select:has(#options-view-button:checked) + #options{
    display: block;
}
#switch {
    --button-width: 3.5em;
    --button-height: 2em;
    --toggle-diameter: 1.5em;
    --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
    --toggle-shadow-offset: 10px;
    --toggle-wider: 3em;
    --color-no-active: #e0e0e0;
    --color-active: #F7A265;
}
#slider {
    display: inline-block;
    width: var(--button-width);
    height: var(--button-height);
    margin-top: 15px;
    background-color: var(--color-no-active);
    border-radius: calc(var(--button-height) / 2);
    position: relative;
    transition: 0.3s all ease-in-out;
}
#slider::after {
    content: "";
    display: inline-block;
    width: var(--toggle-diameter);
    height: var(--toggle-diameter);
    background-color: #fff;
    border-radius: calc(var(--toggle-diameter) / 2);
    position: absolute;
    top: var(--button-toggle-offset);
    transform: translateX(var(--button-toggle-offset));
    box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
    transition: 0.3s all ease-in-out;
}
#switch input[type="checkbox"]:checked + #slider {
    background-color: var(--color-active);
}
#switch input[type="checkbox"]:checked + #slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
    box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
}
#switch input[type="checkbox"] {
    display: none;
}
#switch input[type="checkbox"]:active + #slider::after {
    width: var(--toggle-wider);
}
#switch input[type="checkbox"]:checked:active + #slider::after {
    transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
}
#container-description{
    display: block;
}
#description{
    border: 2px solid #DFB567;
    width: 100%;
    height: 200px;
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
    outline: none;
    resize: none;
}
#container-select-photo{
   min-width: auto;
   max-width: 100%;
}
#photo{
    background-color: white;
    border: 2px solid #DFB567;
    margin-top: 15px;
    padding: 5px 10px 5px 5px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}
#photo label{
    background-color: #9e8047;
    color: white;
    font-size: .9em;
    text-wrap: nowrap;
    padding: 10px;
    border-radius: 10px;
}
#photo span{
    font-size: .8em;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#photo input{
    display: none;
}
#submit{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
#sucess{
    position: absolute;
    left: 0;
    font-size: 0.9em;
    font-weight: 500;
    color: #a2ca90;
}
input[type = 'submit']{
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    background-color: #F7A265;
    color: white;
    transition: .4s;
}
input[type = 'submit']:hover{
    background-color: #c58150;
}
#sending{
    background-color: #f7a26581;
}
@media(width <= 550px){
    #form-addProduct{
        padding: 10px 30px;
    }
    .name-price input{
        width: 130px;
    }
    #photo label{
        font-size: .8em;
        margin-right: 15px;
    }
    #sucess{
        font-size: .8em;
        font-weight: 400;
    }
    #photo span{
        font-size: .7em;
    }
    input[type = 'submit']{
        font-size: .8em;
    }
}