.container-slide{
    width: 100%;
    height: 500px;
    background: url(../images/slide.png) center top;
    background-size: cover;
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.slide-text{
    color: rgb(141, 90, 53);
    text-shadow: 0px 0px 00px rgba(0, 0, 0, 0.301);
    font-size: 1.7em;
    max-width: 600px;
    border-radius: 20px 0 20px 0;
    font-weight: 700;
}
.text-highlighted{
    text-decoration: underline;
}
.swiper-button-prev::after, .swiper-button-next::after{
    color: white;
}
span.swiper-pagination-bullet-active{
    background: white;
}
.container-destaque{
    padding: 0px 50px 50px 50px;
}
.title-destaque{
    font-family: "Alfa Slab One", serif;
    background: linear-gradient(90deg, rgba(247,162,101,1) 26%, rgba(247,223,101,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 5.5em;
    text-align: center;
    margin-top: 100px;
}
#conteudo-destaque{
    margin: 200px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.card-product{
    width: 300px;
    text-align: center;
    padding: 10px;
    background-color: #FDF3DF;
    border-radius: 10px;
    text-decoration: none;
}
.img-product{
    border-radius: 10px;
    width: 100%;
    height: 300px;
}
.title-product{
    color: rgb(87, 87, 87);
    margin-top: 30px;
    font-size: 1.7em;
    font-weight: 800;
}
.price-product{
    color: rgb(87, 87, 87);
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 700;
}
.informations{
    margin-top: 40px;
    font-size: .8em;
    text-decoration: underline;
    font-style: italic;
    color: #F29966;
}