#container-product{
    max-width: 1200px;
    margin: auto;
}
#conteudo-product{
    margin: 100px 30px;
    display: flex;
    gap: 20px;
}
#container-img{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#data-product{
    width:35%;
    padding: 20px;
    text-align: center;
}
#product-title{
    font-size: 3em;
    color: rgb(83, 83, 83);
}
#product-price{
    margin-top: 30px;
}
.pay{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.pay-method{
    display: flex;
    gap: 10px;
    font-size: 1.5em;
    font-weight: 600;
}
#description-product{
    margin: 0 30px 100px 30px;
}
#title-description{
    color:#F08E7D;
    font-size: 2em;
    margin-bottom: 50px;
}
.pix-credit{
    font-size: .7em;
    text-align: left;
}
#pix{
    color: rgb(14, 167, 14);
}
#credit{
    color: rgb(216, 22, 22);
}
.product-button{
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    padding: 5px 10px;
    width: 100%;
    min-height: 50px;
    margin-bottom: 20px;
    transition: .4s;
}
.product-button:hover{
    transform: translate(2px, -2px);
}
#buy{
    background-color: #E0B768;
    color: white;
}
#cart{
    background-color: #FDF3DF;
    color: #E0B768;
    border: 1px solid #E0B768;
}
@media(width <= 750px){
    #conteudo-product{
        flex-direction: column;
        align-items: center;
    }
    #container-img{
        width: 100%;
    }
    #data-product{
        width: 100%;
    }
    #buttons{
        display: flex;
        gap: 10px;
    }
    .pay-method p, .pay-method i{
        font-size: 1.1em;
    }
}