#title{
    background: linear-gradient(90deg, rgba(247,162,101,1) 26%, rgba(247,223,101,1) 100%);
    padding: 0 10px;
    margin-top: 200px;
    text-align: center;
    font-size: 2.7em;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}
#container-category{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    margin: 100px 0;
}
.category{
    width: 200px;
    height: 200px;
    padding: 10px;
    background-color: #f5d796;
    box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    position: relative;
}
.select-category{
    all: unset;
    position: absolute;
    inset: 0;
    z-index: 1;
}
.category:has(.select-category:checked){
    background: linear-gradient(90deg, rgba(247,162,101,1) 26%, rgba(247,223,101,1) 100%);
}
.img-category{
    width: 100%;
}
.title-category{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.712);
}
.content-category{
    display: none;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}
.icons{
    margin-bottom: 10px;
    display: flex;
    justify-content: end;
    gap: 20px;
    font-size: 1em;
}
.icons i::before{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.233);
    color:rgba(0, 0, 0, 0.233);
}