#main-search{
    padding: 0 20px;
}
#search-title{
    font-size: 2.3em;
    color: #F7A265;
    text-align: center;
    margin-top: 100px;
}
#product-search{
    margin: 100px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}